*.sdf
*.idx
*.bak
*.log
*.c.pickle
*.ci

mdrv_cmd.txt
options.txt
output*.txt

pre_cci.c
combined_*.c

Bookmarks.xml
Breakpoints.xml
ReplaySummaryReport.xml
ThumbnailsCache.tmp
UserTasks.xml
CompilerLogMetadata.xml
OutputColoringDatabase.json

replay.har

data/
result*/
